/TP 2/AnioBisiesto/nbproject/private/
/TP 2/AnioBisiesto/build/
/TP 2/MayorDeTres/nbproject/private/
/TP 2/MayorDeTres/build/
/TP 2/ClasificaEdad/nbproject/private/
/TP 2/ClasificaEdad/build/
/TP 2/Descuentos/nbproject/private/
/TP 2/Descuentos/build/
/TP 2/SumaPares/nbproject/private/
/TP 2/SumaPares/build/
/TP 2/ContadorPosNegCeros/nbproject/private/
/TP 2/ContadorPosNegCeros/build/
/TP 2/ValidaNota/nbproject/private/
/TP 2/ValidaNota/build/
/TP 2/Impuestos/nbproject/private/
/TP 2/Impuestos/build/
/TP 2/CostoEnvío/nbproject/private/
/TP 2/CostoEnvío/build/
/TP 2/Stock/nbproject/private/
/TP 2/Stock/build/
/TP 2/DescuentoEspecial/nbproject/private/
/TP 2/DescuentoEspecial/build/
/TP 2/ArraysYRecursividad/nbproject/private/
/TP 2/ArraysYRecursividad/build/
/TP 2/Arrays/nbproject/private/
/TP 2/Arrays/build/
/TP 2/Recursividad/nbproject/private/
/TP 2/Recursividad/build/
/TP 3/TPClases/nbproject/private/
/TP 3/TPClases/build/
/TP 3/Estudiantes/nbproject/private/
/TP 3/Estudiantes/build/
/TP 3/Mascotas/nbproject/private/
/TP 3/Mascotas/build/
/TP 3/Libros/nbproject/private/
/TP 3/Libros/build/
/TP 3/Gallinas/nbproject/private/
/TP 3/Gallinas/build/
/TP 3/NaveEspacial/nbproject/private/
/TP 3/NaveEspacial/build/
